<div class="main-layout">
  <div class="sidebar" *ifTeacher>
    <input [(ngModel)]="className" placeholder="Nome classe" />
    <button (click)="pushClass(className)">Crea classe</button>

    <app-student-grid
      [students]="studentList$ | async"
      (selecStudent)="resList($event)">
    </app-student-grid>


  </div>

  <div class="content">
    <div class="container">
      <div *ngFor="let class of classi$ | async; trackBy: trackById">
        <app-class-room-card [class]="class" (selecClass)="GoToAssigments($event)"></app-class-room-card>
      </div>
    </div>
  </div>
</div>
