<div class="btn-group me-3">
  <div class="btn-group" ngbDropdown [autoClose]="'outside'" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>Studenti</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <div *ngFor="let user of students">
        <button 
          ngbDropdownItem 
          *ngIf="user?.role !== 'teacher'" 
          (click)="onListChange(user)"
          [ngClass]="{'bg-primary text-white': isStudentSelected(user)}"  
        >
          {{ user?.firstName }}
        </button>
      </div>
    </div>
  </div>
</div>
