<div class="container">
    <div class="login-box">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Google_Classroom_Logo.svg/2372px-Google_Classroom_Logo.svg.png" alt="Logo" width="80">
      </div>
  
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div>
          <label class="form-label">Nome utente</label>
          <input type="text" formControlName="firstName" class="form-control" />
        </div>
        <div>
          <label class="form-label">Cognome Utente</label>
          <input type="text" formControlName="lastName" class="form-control" />
        </div>
        <div>
          <label class="form-label">Username</label>
          <input type="text" formControlName="username" class="form-control" />
        </div>
        <div>
          <label class="form-label">Password</label>
          <input type="text" formControlName="password" class="form-control" />
        </div>
        <div>
          <label class="form-label">Role</label>
          <input type="text" formControlName="role" class="form-control" />
        </div>
        <div>
          <label class="form-label">Picture</label>
          <input type="text" formControlName="picture" class="form-control" />
        </div>

  
        <div *ngIf="registerError" class="text-danger">
          {{ registerError }}
        </div>
  
        <button type="submit">Register</button>
      </form>
      <div class="extra-options">
        <div><a href="/login">Hai già un account?</a></div>
      </div>
    </div>
  </div>
  