.card {
    height: 240px;
    width: 240px;
    border-radius: 10%;
    border: 1px black solid;
    background-color: aliceblue;
    display: flex; /* Usa flexbox per centrare il contenuto */
    justify-content: center; /* Centra verticalmente il contenuto */
    align-items: center; /* Centra orizzontalmente il contenuto */
    padding: 20px;
  }
  
  /* Sezione TopHead */
  .TopHead {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Sezione Bottom */
  .Bottom {
    font-size: 14px;
    text-align: center;
  }
  